body {
  background-color: rgb(40, 43, 46);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 5em;
}

.button {
     background-color: rgb(250,250,250);
     text-decoration: none;
     border: 2px solid seashell;
     border-radius: 10px;
     padding: 5%;
     background-color: rgb(60, 63, 66);
     width: 35em;

     transition: 100ms;

}

.smalltext {
     color: rgb(200, 200, 200);
     font-size: 0.8em;
}

.buttonContainer {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.topBar > * {
     text-align: center;
     display:inline;
}

.topText > * {
     display:inline;
}

.bignumber {
     font-size: 2em;
}

.button:active {
     background-color: rgb(70, 73, 76);
}

.noSelect {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.timeButtonContainer {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.timeButton {
     background-color: rgb(250,250,250);
     text-decoration: none;
     border: 2px solid seashell;
     border-radius: 10px;
     padding: 1%;
     background-color: rgb(60, 63, 66);
     width: 15em;

     transition: 100ms;

}

.tinytext {
     font-size: 8px;
}

.resetContainer {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.resetButton {
     background-color: rgb(250,250,250);
     text-decoration: none;
     border: 2px solid seashell;
     border-radius: 10px;
     padding: 1%;
     background-color: rgb(102, 135, 71);
     width: 60em;

     transition: 100ms;

}

.resetButton:active {
     background-color: rgb(112, 145, 81);
}

.timeButtonContainer:hover {
     transform: scale(1.05);
}

.resetButton:hover {
     transform: scale(1.03);
}

.chartContainer {
     width: 45%;
     display: flex;
     justify-self: center;
     margin: 0 auto;
}

#oneSecond {
     background-color: rgb(69, 117, 138);
}

#fiveSeconds {
     background-color: rgb(139, 67, 67);
}

#tenSeconds {
     background-color: rgb(69, 117, 138);
}

#fifteenSeconds {
     background-color: rgb(69, 117, 138);
}

#twentySeconds {
     background-color: rgb(69, 117, 138);
}

#thirtySeconds {
     background-color: rgb(69, 117, 138);
}

#sixtySeconds {
     background-color: rgb(69, 117, 138);
}
